


<div class="container">
<div class="d-flex justify-content-around flex-wrap">
  <% @cocktails.each do |cocktail| %>
    <div class="card my-3" style="width: 18rem;">
      <%= cl_image_tag cocktail.photo, alt: "alttext", class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>

</div>

