<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dqnnndxue/image/upload/v1572035098/q5jqhg3551zxm8rf9jpa.jpg);">
  <div class="container">
    <h1><strong>Cocktails</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
    <%= link_to "add new", new_cocktail_path %>
  </div>
</div>
